<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="board">
      <h1>Matches</h1>
      <!-- コート数入力フォーム Begin -->
      <form id="input-num-of-courts" v-on:submit.prevent="handleSubmit_num_of_courts">
        <div class="number-of-courts">
          <label class="input-number-of-courts">Number of Courts</label>
          <input
            v-model="number"
            type="number"
            id="num-of-courts"
            name="num-of-courts"
          />
        </div>
        <div class="submit">
          <button type="submit" v-bind:disabled="disabled_submit_number">OK</button>
        </div>
      </form>
      <!-- コート数入力フォーム End -->
      <!-- タブ Begin -->
      <div id="tab">
        <div
          class="tab-list"
          v-bind:class="{ '-active': filter === 'inbox' }"
        >
          <button v-on:click="setFilter('inbox')">試合中・控え</button>
        </div>
      </div>
      <!-- タブ End -->
      <!-- ストップウォッチ Begin-->
      <div id="stopwatch">
        <div class="stopwatch-display">
          <span id="stopwatch-time">00:00:00</span>
        </div>
        <div class="stopwatch-controls">
          <button id="start-stopwatch" v-on:click="startStopwatch">スタート</button>
          <button id="stop-stopwatch" v-on:click="stopStopwatch">ストップ</button>
          <button id="reset-stopwatch" v-on:click="resetStopwatch">リセット</button>
        </div>
      </div>
      <!-- ストップウォッチ End-->
      <!-- matchリスト Begin -->
      <section id="match-table">
        <div class="match-main">
          <div class="court" v-for="n in 20" v-if="n <= num_of_courts" :key="n">
            <h2 class="court-number">Court {{n}}</h2>
            <div class="cards">
              <div class="card" v-for="match in filteredmatches(n)" v-bind:key="match.match_id">

                <!-- match_name, 時刻 -->
                <div class="match-info" v-if="match.isEditing">
                  <input v-model="match.match_name_sub" />
                  <div class="match-edit-time">{{formatDate(match.edited_at)}}</div>
                </div>
                <div class="match-info" v-else >
                  <div class="match-name">{{match.match_name}}</div>
                  <div class="match-edit-time">{{formatDate(match.edited_at)}}</div>
                </div>

                <!-- 選手名, スコア -->
                <div class="match-score" v-if="match.isEditing">
                  <div class="player">
                    <input v-model="match.player1_sub" />
                    <input v-model="match.score1_sub" />
                  </div>
                  <div class="text-vs">vs</div>
                  <div class="player">
                    <input v-model="match.player2_sub" />
                    <input v-model="match.score2_sub" />
                  </div>
                </div>
                <div class="match-score" v-else v-on:click="edit_match(match.match_id)">
                  <div class="player">
                    <div class="player-name">{{match.player1}}</div>
                    <div class="player-score">{{match.score1}}</div>
                  </div>
                  <div class="text-vs">vs</div>
                  <div class="player">
                    <div class="player-name">{{match.player2}}</div>
                    <div class="player-score">{{match.score2}}</div>
                  </div>
                </div>

                <!-- 審判 -->
                <div class="match-umpire" v-if="match.isEditing">
                  <input v-model="match.umpire_sub" />
                </div>
                <div class="match-umpire" v-else v-on:click="edit_match(match.match_id)">
                  <div class="match-name">審判: {{match.umpire}}</div>
                </div>

                <!-- コート番号, ボタン -->
                <div class="match-edit" v-if="match.isEditing">
                  <div class="court-number-edit">
                    <input v-model="match.court_number_sub" />
                  </div>
                  <div class="cancel-button">
                    <button v-on:click="cancel_edit_match(match.match_id)">キャンセル</button>
                  </div>
                  <div class="save-button" v-if="match.isEditing">
                    <button v-on:click="save_match(match.match_id)" v-bind:disabled="disabled_save(match)">保存</button>
                  </div>
                </div>
                <div class="match-edit" v-else>
                  <div class="court-number-edit" v-on:click="edit_match(match.match_id)">Court No.{{match.court_number}}</div>
                  <div class="delete-button">
                    <button v-on:click="delete_match(match.match_id)">削除</button>
                  </div>
                  <div class="finish-button" v-if="filter === 'inbox' ">
                    <button v-on:click="finish_match(match.match_id)">試合終了</button>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- matchリスト End -->
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
